body{
    background: red;
}
h1{
    font-size: 22px;
}
.block{
    width: 100px;
    height: 100px;
    margin: 20px;
    background: lightgreen;
}
.container{
    display: flex;
}
.block{
    margin: 50px;
}