body{
    background: lightsalmon;
}
h1{
    font-size: 22px;
    background: lightsalmon;
}
.block{
    width: 100px;
    height: 100px;
    margin: 20px;
    background: grey;
}
.container{
    display: flex;
}
h1{
    color: aqua;
}
.block{
    margin: 50px;
}